.top {
  background: linear-gradient(#E9E3E7, #fff);
}
.title {
  padding: 1rem 0;
  height: 4.25rem;
  display: flex;
}
.logo-button {
  margin: .375rem 1rem;
  vertical-align: middle;
  line-height: 2.25rem;
}
.search {
  flex: auto;
  background-color: #fff;
  border: none;
  border-radius: 1.125rem;
}
.bannerStyle {
  background-color: #fff;
  height: 8rem;
  margin: 0 1rem 1rem 1rem;
  border-radius: .625rem;
}